# Default owners for everything in the repo.
# These users will be automatically requested for review on every PR.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @quocanh261997
